doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/cart.css')
  body
    include ../navbar.pug
    h1(class='title') #{title}

    - let totalCartPrice = 0

    p(class='total_items') Order Items: #{cartItems.length}
    ul(class='product_list')
      each cartItem in cartItems
        li(class='product')
          - const product = products.find(product => product._id.toString() === cartItem.product_id.toString())
          - totalCartPrice += product.price * cartItem.quantity
          if product
            p(class='product_name') Product Name: #{product.name}
            p(class='product_quantity') Quantity: #{cartItem.quantity}
            p(class='product_price') Price: $#{product.price}
            p(class='product_total_price') Total Price: $#{product.price * cartItem.quantity}
          else
            p(class='error') Product not found

    p(class='total_cart_price') Total Order Price: $#{totalCartPrice}

    if userHasPayment
      button(class='payment_btn' onclick="window.location.href='/order/create'") Place Order
    else
      button(class='payment_btn' onclick="window.location.href='/payment/create'") Create New Payment Method
      button(class='payment_btn' onclick="window.location.href='/order/create'") Place Order

    p Please review your order 
