doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/product.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')


  body
    include ../navbar.pug
    //- nav.navbar
    //-   .container
    //-     a.navbar-button(href="/") Home
    //-     h1.navbar-title IoTBay

    //-     if user && user.role === 'admin'
    //-       // If admin user is logged in, show admin-specific links
    //-       a.navbar-button(href="/admin/dashboard") Dashboard
    //-       a.navbar-button(href="/admin/products") Manage Products

    //-     if user
    //-       // If any user is logged in, show logout button
    //-       button.navbar-button(onclick="window.location.href='/user/logout'") Logout
    //-     else 
    //-       // If no user is logged in, show login and register buttons
    //-       button.navbar-button(onclick="window.location.href='/user/login'") Login
    //-       button.navbar-button(onclick="window.location.href='/user/register'") Register
        
    //-     a.navbar-button(href="/cart/view") Cart

  .content    
    form(action="/product/search", method="GET")
      input(type="text", name="query", placeholder="Search...")
      button(type="submit") Search
    h1 All Products
    if products.length
      .product-grid
        each product in products
          .product
            h3 #{product.name}
            p Description: #{product.description}
            p Category: #{product.category}
            p Price: $#{product.price}
            - var productUrl = '/product/view/' + product._id
            a(href=productUrl) Buy Now
    else
      p No products found
